!!!5
%html
	%header
		%title Handlebars Test
	%body
		%script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
		%script{:id => "the-template", :type => "text/x-handlebars-template", :src => "the-template.js"}
		%script{:src => 'handled.js'}
